.rockpaper{
    height: 100vh;
    width: 100%;
}
.embedSize{
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.exit__dark{
    color:#000;
    background-color: #fff;
    border-radius: 5px;
}