

.game__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: rgb(49, 49, 49);
}

.game{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 45, 45);
}

.leftScreen{
    flex:0.5;
}

.guess{
    font-family: 'Montserrat', sans-serif;
}

.hearts__icn{
color:red;
}

.rightScreen{
    flex:0.5;
}

.active{
    background-color: rgb(82, 121, 153);
}

.input__footer{
    display: flex;
    width: 100%;
    background-color: rgb(46, 45, 45);
}

.input__footer > form{
   display: flex;
   width: 100%;
  
}

.input__container{
    display: flex;
    height: 30px;
    width: 100%;
    border:1px solid lightgrey;
    border-radius: 30px;
    margin: 4px;
    padding: 0 15px;
    background-color: #fff;
    
}

#inputID{
    height: 100%;
    width: 100%;
    border:none;
    outline:none;
    font-size: 16px;
    color:rgb(59, 59, 59);
}

.post__btn{
    margin: 4px;
    color:white;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(40, 101, 172);
    border:none;
    outline:none;
    font-size: 16px;
    cursor: pointer;
}

.turn{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.profile__pic{
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    
}

.centeredContent>span{
text-align: center;
}

.centeredContent{
    padding-top: 30px;
}

.centeredContentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
   color:white;
   margin-top: 50px;
   height: 50px;
   width: 50px;
   background-color: rgb(182, 56, 56);
   border-radius: 50%;
   font-family: 'Abril Fatface', cursive;
   font-size: 30px;
}

.compass__img{
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    position:absolute;
    height: auto;
    width: 250px;  
    border-radius: 50%;
    display: flex;
    top:50%;
    left:50%;
    transition:0.2s all ease-in-out;
    transform: translate(-50%,-50%) rotate(-90deg);
}

.back{
    cursor: pointer;
    color:rgb(238, 67, 67);
    position: absolute;
    top:10px;
    right:20px;
}

.exit__app{
    height: 30px !important;
    width: 30px !important; 
}

.compass > span{
    color:white;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    position:absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top:50%;
    left:50%;
    line-height: 60px;
    font-size: 25px;
    transform: translate(-50%,-50%);
    background-color: rgb(59, 171, 199);
    text-align: center;
   
}

.rotate__right{
    transform: translate(-50%,-50%) rotate(90deg);
}

.rotate__left{
    transform: translate(-50%,-50%) rotate(-90deg);
}